<footer class="footer bg-primary">
    <div class="navbar" id="footer-nav-container">
        <ul class="navbar-nav" id="footer-nav">
            <li class="nav-item mr-3">
                <a target="_blank" href="https://docs.google.com/document/d/1AUiT7JjpHos96DMd-31rD77MIqqa48PJZqQWdYimt4I/edit?usp=sharing"
                    class="nav-link">
                    Resume
                </a>
            </li>
            <li class="nav-item mr-3">
                <a target="_blank" href="https://github.com/cabral-ramon" class="nav-link">
                    Github
                </a>
            </li>
            <li class="nav-item mr-3">
                <a target="_blank" href="https://www.linkedin.com/in/cabral-ramon/" class="nav-link">
                    LinkedIn
                </a>
            </li>
            <li class="nav-item">
                <a target="_blank" href="http://ramoncabral.com/" disable class="nav-link text-muted">
                    Website by Ramon Cabral
                </a>
            </li>
        </ul>
    </div>
</footer>