<div class="jumbotron text-center" id="header">
    <div class="animated fadeInUp">
        <h1 class="title">
            Tenki
        </h1>
        <p class="lead">Fast, Simple, Weather App</p>
    </div>
</div>