<nav class="navbar navbar-expand-lg navbar-dark bg-primary d-flex flex-row">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
                <a href="/weather/New%20York" class="nav-link">New York</a>
            </li>
            <li class="nav-item">
                <a href="/weather/London" class="nav-link">London</a>
            </li>
            <li class="nav-item">
                <a href="/weather/Tokyo" class="nav-link">Tokyo</a>
            </li>
            <li class="nav-item">
                <a href="/weather/Hong%20Kong" class="nav-link">Hong Kong</a>
            </li>
            <li class="nav-item">
                <a href="/weather/Sydney" class="nav-link">Sydney</a>
            </li>
            <li>
                <form>
                    <div class="form-inline">
                        <input id="search-form" type="text" class="form-control">
                        <button id="search-button" type="submit" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <a href="/" class="navbar-brand mb-0 h1">Tenki</a>
</nav>

<script>
    const currPath = document.location.href;
    const links = document.getElementsByClassName("nav-link");
    let link;
    for (let i = 0; i < links.length; i++) {
        if (links[i].href === currPath) {
            link = links[i];
        }
    }

    if (link) {

        link.style.color = "white";
    }
</script>