body {
  font-family: "Roboto", sans-serif;
}

.title {
  color: black;
}

.bg-primary {
  background-color: rgb(60, 39, 107) !important;
}

.bg-secondary {
  background-color: #d2c8dc !important;
}

#header {
  margin-top: 50px;
  background-color: inherit !important;
}

#weather-info {
  height: fit-content;
  align-self: center;
}

#signup-container {
  padding: 50px;
}

#footer-nav-container {
  justify-content: center;
}

#footer-nav {
  flex-direction: row;
}
