<h1 class="mt-5 text-center">About</h1>
<div class="text-container">
    <p class="text-center">This app was built as proof of concept using an express server, handlebars for frontend
        templating and twitter Bootstrap
        for styling.</p>
</div>
<div class="text-container">
    <h2 class="text-center">About me</h2>
    <p class="text-center">I am a full stack software developer in New York City.</p>
    <p class="text-center">I have experience working with React, Redux, Node, Ruby on Rails and more (please check out
        my portfoio for an extensive
        list).
    </p>
    <p class="text-center">I am currently looking for Front end or full stack developer roles in New York City.</p>
    <p class="text-center">If you have any questions or would like to reach out please contact me via the links below.</p>
</div>