{{>header}}
<div class="row mt-3 p-5">
    <div class="col-sm-6 text-center">
        <div class="image-caption">
            <h1>Check before you go</h1>
            <small>App coming soon...</small>
        </div>
        <img src="assets/images/phone.jpg" alt="phone app" class="img-fluid">
    </div>
    <div class="col-sm-6 text-center">
        <div class="image-caption">
            <h1>Free to try</h1>
            <small>Plans as low as $1 a month</small>
        </div>

        <img src="assets/images/dollar.jpg" alt="a dollar" class="img-fluid">
    </div>
</div>
<div class="row mt-5 bg-secondary" id="signup-container">
    <div class="col-sm-12 text-center">
        <h1>Sign up for free daily alerts</h1>
    </div>
    <form class="col-sm-4 text-center center-block m-auto">
        <div class="form-group">
            <input type="text" class="form-control mb-2">
            <button type="submit" disabled class="btn btn-primary">Sign Up</button>
        </div>
    </form>
</div>
<div class="row mt-5 mb-5">
    <div class="col-sm-12 text-center mb-3">
        <h3>What are people saying about Tenki?</h3>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center p-2">
            <p>Now I can get to where I need to go with one less thing to worry about.</p>
            <p>John Doe</p>
        </div>
        <div class="col-sm-4 text-center p-2">
            <p>Who knew checking the weather could be so easy and fun!</p>
            <p>Sussy Sassypants</p>
        </div>
        <div class="col-sm-4 text-center p-2">
            <p>I switched from the FAKE weather NEWS to Tenki and I'm loving it!</p>
            <p>Donald Trunk</p>
        </div>
    </div>
</div>